@font-face {
    font-family: "Product Sans";
    src: url('https://fonts.gstatic.com/s/productsans/v7/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2') format('woff2');
  }

  .header {
    background-color: white;
    max-width: 1920px;
    padding: 10px 18% 10px 20%;
    margin: 20px 0px;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 12%;
}

.navi a {
    padding: 10px 10px;
    margin-left: 150px;
    font-size: 23px;
    font-family: "Product Sans";
    font-weight: 500;
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 0.6px black ;
}

.navi a:hover,
.navi a:active {
    position: static;
    background-color: rgb(231, 48, 2);
    border-radius: 15px;
    color:White;
    -webkit-text-stroke: 0.6px white ;
    padding: 10px 10px;
    transition: all 0.5s ease-in;
    text-decoration: none;
}
