@font-face {
    font-family: "Product Sans";
    src: url('https://fonts.gstatic.com/s/productsans/v7/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2') format('woff2');
  }

body {
    max-width: 1920px;
    overflow: hidden;
}

.header {
    background-color: white;
    max-width: 1920px;
    padding: 10px 18% 10px 20%;
    margin: 20px 0px;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 12%;
}

.navi a {
    padding: 15px 10px;
    margin-left: 150px;
    font-size: 24px;
    font-family: "Product Sans";
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.navi a:hover,
.navi a:active {
    position: static;
    background-color: red;
    border-radius: 5px;
    color:White;
    padding: 10px 10px;
    transition: all 0.5s ease-in;
    text-decoration: none;
}

#photo {
    padding: 4% 0px 10% 15%;
    float: left;
    border-radius: 5px solid red;
}

.textbox {
    width: 250;
    height: 65;
    background-color: rgb(53, 53, 53);
    font-family: 'Product Sans', sans-serif;
    font-weight: bolder;
    font-size: 38px;
    text-decoration: none;
    color: white;
    padding: 14px 18px ;
    border-radius: 10px;
    position: absolute;
    margin: 8% auto 60% 51%;
}

.text {
    font-family: 'Product Sans', sans-serif;
    font-weight: normal;
    -webkit-text-stroke: red 2px;
    font-size: 75px;
    text-decoration: none;
    color: red;
    position: absolute;
    margin: 12% auto 60% 51%;

}

.textSmall {
    font-family: 'Product Sans', sans-serif;
    font-weight: bold;
    font-size: 31px;
    text-decoration: none;
    color: black;
    position: absolute;
    margin: 17% auto 60% 51%;
}