@font-face {
    font-family: "Product Sans";
    src: url('https://fonts.gstatic.com/s/productsans/v7/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2') format('woff2');
  }

.header {
  margin-top: 20px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 150px 1fr 150px 150px 150px 2fr ;
}

a {
  display: grid;
  text-decoration: none;
  font-family: "Product Sans";
  font-weight: 600;
  font-size: 20px;
  color: black;
  justify-content: center;
}

.hi {
  align-items: center;
}

.nav {
  display: flex;
  padding: 10px;
}

.nav:hover {
  background-color: red;
  border-radius: 5px;
  font: white;
}